#textdomain wesnoth-Watbesh_Rule_Pack

#define WAT_VERSION
4 #enddef

#define WAT_PACK_FACTIONS
    {RANDOM_SIDE}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
#enddef