#textdomain wesnoth-Watbesh_Rule_Pack

#define RF_LEADER_DEFAULT
    [set_variable]
        name=random_leader.type
        rand=Bandit,Bone Shooter,Dark Sorcerer,Deathblade,Drake Arbiter,Drake Flare,Drake Thrasher,Drake Warrior,Duelist,Dwarvish Pathfinder,Dwarvish Runesmith,Dwarvish Stalwart,Dwarvish Steelclad,Dwarvish Thunderguard,Elder Wose,Elvish Captain,Elvish Druid,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Sorceress,Fire Drake,Javelineer,Lieutenant,Longbowman,Necrophage,Ogre,Orcish Crossbowman,Orcish Slayer,Orcish Warrior,Outlaw,Pikeman,Red Mage,Revenant,Rogue,Saurian Ambusher,Saurian Oracle,Saurian Soothsayer,Shadow,Shock Trooper,Swordsman,Trapper,Troll,Troll Shaman,Troll Rocklobber,White Mage,Wraith
    [/set_variable]

    {VARIABLE rf_move_trait 1}
#enddef

#define RF_PICK_DEFAULT
    [set_variable]
        name=random_recruit.type
        rand=Bowman,Cavalryman,Dark Adept,Drake Burner,Drake Clasher,Drake Fighter,Drake Glider,Dwarvish Fighter,Dwarvish Guardsman,Dwarvish Scout,Dwarvish Thunderer,Dwarvish Ulfserker,Elvish Archer,Elvish Fighter,Elvish Scout,Elvish Shaman,Fencer,Footpad,Ghost,Ghoul,Goblin Spearman,Gryphon Rider,Heavy Infantryman,Horseman,Mage,Merman Fighter,Merman Hunter,Mermaid Initiate,Mudcrawler,Naga Fighter,Orcish Archer,Orcish Assassin,Orcish Grunt,Peasant,Poacher,Ruffian,Saurian Augur,Saurian Skirmisher,Sergeant,Skeleton,Skeleton Archer,Spearman,Thief,Thug,Troll Whelp,Vampire Bat,Walking Corpse,Wolf Rider,Woodsman,Wose,Young Ogre
    [/set_variable]
#enddef

#define RF_MESSAGE_DEFAULT
    message= _ "You can re-generate your faction (leader and recruits) <span color='#FF0000'>at turn 1 before you start moving leader or recruiting</span>.You will have fewer recruits temporarily after re-generating.
Leaders in this Era:
All selectable leader from Default Era, Bandit, Duelist, Dwarvish Pathfinder, Dwarvish Runesmith, Ogre, Outlaw, Saurian Ambusher, Shadow, Troll Shaman, Wraith
Recruits in this Era:
All recruits from Default Era, Dwarvish Scout, Mermaid Initiate, Mudcrawler, Peasant, Ruffian, Sergeant, Thug, Woodsman, Young Ogre"
#enddef


#define RF_LEADER_CLASSIC
    [set_variable]
        name=random_leader.type
        rand=Bone Shooter,Dark Sorcerer,Deathblade,Drake Arbiter,Drake Flare,Drake Thrasher,Drake Warrior,Dwarvish Stalwart,Dwarvish Steelclad,Dwarvish Thunderguard,Elder Wose,Elvish Captain,Elvish Druid,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Sorceress,Fire Drake,Javelineer,Lieutenant,Longbowman,Necrophage,Orcish Crossbowman,Orcish Slayer,Orcish Warrior,Outlaw,Pikeman,Red Mage,Revenant,Rogue,Saurian Oracle,Saurian Soothsayer,Shock Trooper,Swordsman,Trapper,Troll,Troll Rocklobber,White Mage
    [/set_variable]

    {VARIABLE rf_move_trait 1}
#enddef

#define RF_PICK_CLASSIC
    [set_variable]
        name=random_recruit.type
        rand=Bowman,Cavalryman,Dark Adept,Drake Burner,Drake Clasher,Drake Fighter,Drake Glider,Dwarvish Fighter,Dwarvish Guardsman,Dwarvish Thunderer,Dwarvish Ulfserker,Elvish Archer,Elvish Fighter,Elvish Scout,Elvish Shaman,Fencer,Footpad,Ghost,Ghoul,Goblin Spearman,Gryphon Rider,Heavy Infantryman,Horseman,Mage,Merman Fighter,Merman Hunter,Naga Fighter,Orcish Archer,Orcish Assassin,Orcish Grunt,Poacher,Saurian Augur,Saurian Skirmisher,Skeleton,Skeleton Archer,Spearman,Thief,Troll Whelp,Vampire Bat,Walking Corpse,Wolf Rider,Wose
    [/set_variable]
#enddef

#define RF_MESSAGE_CLASSIC
    message= _ "You can re-generate your faction (leader and recruits) <span color='#FF0000'>at turn 1 before you start moving leader or recruiting</span>.You will have fewer recruits temporarily after re-generating.
Leaders in this Era:
All selectable leader from Default Era
Recruits in this Era:
All recruits from Default Era"
#enddef


#define RF_STORE_RECRUIT
    [store_side]
        side=$side_number
        variable=current_side
    [/store_side]

    [set_variables]
        name=recruit_array_$side_number
        [split]
            list=$current_side.recruit
            separator=,
            key=type
        [/split]
    [/set_variables]
#enddef

#define RF_ADD TO_NUM PICK_RULE
    [while]
        [variable]
            name=recruit_array_$side_number|.length
            less_than={TO_NUM}
        [/variable]
        [do]
            {PICK_RULE}

            [allow_recruit]
                type=$random_recruit.type
                side=$side_number
            [/allow_recruit]

            {RF_STORE_RECRUIT}
        [/do]
    [/while]
#enddef

#define RF_LIST NUM PICK_RULE LEADER

    {LEADER}

    [store_unit_type]
        type=$random_leader.type
        variable=random_leader_type_store
    [/store_unit_type]

    [store_unit]
        [filter]
            side=$side_number
            canrecruit=yes
        [/filter]
        variable=side_leader
        kill=yes
    [/store_unit]

    {IF_VAR rf_move_trait equals 1 (
        [then]
            [switch]
                variable=random_leader_type_store.movement
                [case]
                    value=4
                    [unit]
                        type=$random_leader.type
                        side=$side_number
                        random_gender=yes
                        x,y=$side_leader.x,$side_leader.y
                        random_traits=no
                        name=$side_leader.name
                        canrecruit=yes
                        animate=yes
                        [modifications]
                            {TRAIT_QUICK}
                        [/modifications]
                    [/unit]
                [/case]
                [case]
                    value=7
                    [unit]
                        type=$random_leader.type
                        side=$side_leader.side
                        random_gender=yes
                        x,y=$side_leader.x,$side_leader.y
                        random_traits=no
                        name=$side_leader.name
                        canrecruit=yes
                        animate=yes
                        [modifications]
                            {TRAIT_SLOW}
                        [/modifications]
                    [/unit]
                [/case]
                [else]
                    [unit]
                        type=$random_leader.type
                        side=$side_leader.side
                        random_gender=yes
                        x,y=$side_leader.x,$side_leader.y
                        random_traits=no
                        name=$side_leader.name
                        canrecruit=yes
                        animate=yes
                    [/unit]
                [/else]
            [/switch]
        [/then]
        [else]
            [unit]
                type=$random_leader.type
                side=$side_leader.side
                random_gender=yes
                x,y=$side_leader.x,$side_leader.y
                random_traits=no
                name=$side_leader.name
                canrecruit=yes
                animate=no
            [/unit]
        [/else]
    )}

    {CLEAR_VARIABLE side_leader,random_leader_type_store}

    {VARIABLE array_length_next {NUM}}

    [set_recruit]
        recruit=
        side=$side_number
    [/set_recruit]
    {RF_STORE_RECRUIT}

    {IF_VAR array_length_next greater_than 1 (
        [then]
            {RF_ADD $array_length_next {PICK_RULE}}
        [/then]
    )}

    {IF_VAR array_length_next equals 1 (
        [then]
            {PICK_RULE}
            [allow_recruit]
                type=$random_recruit.type
                side=$side_number
            [/allow_recruit]
            {RF_STORE_RECRUIT}
        [/then]
    )}

    {IF_VAR array_length_next equals 0 (
        [then]
            {CLEAR_VARIABLE recruit_array_$side_number}
        [/then]
    )}

#enddef

#define RF_EVENTS NUM PICK_RULE LEADER MESSAGE TYPE
    [event]
        name=side turn 1
        first_time_only=no
        id=rf_sideturn_1

        {IF_VAR faction_is_random[$side_number] equals 1 (
            [then]
                {RF_LIST {NUM} {PICK_RULE} {LEADER}}
                {VARIABLE free_regenerate 1}
            [/then]
        )}

        [message]
            speaker=narrator
            caption= _ "Random-factions Era"
            message= _ "You can re-generate your faction (leader and recruits) <span color='#FF0000'>at turn 1 before you start moving leader or recruiting</span>.You will have fewer recruits temporarily after re-generating.
by watbesh"
            side_for=$side_number
        [/message]
    [/event]

    [event]
        name=ai turn
        first_time_only=no
        id=rf_aiturn

        [if]
            [variable]
                name=turn_number
                numerical_equals=1
            [/variable]
            [variable]
                name=faction_is_random[$side_number]
                equals=1
            [/variable]
            [then]
                [message]
                    speaker=narrator
                    caption= _ "CAUTION"
                    message= _ "side $side_number| is controlled by AI. This side cannot re-generate the faction."
                [/message]
            [/then]
        [/if]
    [/event]

    [event]
        name=side turn
        first_time_only=no
        id=rf_sideturn_n

        {IF_VAR faction_is_random[$side_number] equals 1 (
            [then]
                {IF_VAR turn_number numerical_equals 2 (
                    [then]
                        {VARIABLE free_regenerate -1}
                    [/then]
                )}

                {IF_VAR recruit_array_$side_number|.length less_than {NUM} (
                    [then]
                        {VARIABLE array_length_plus_one $recruit_array_$side_number|.length}
                        {VARIABLE_OP array_length_plus_one add 1}

                        {RF_ADD $array_length_plus_one {PICK_RULE}}
                    [/then]
                )}
            [/then]
        )}
    [/event]

    [event]
        name=moveto,recruit
        first_time_only=no
        id=rf_moveto_recruit
        [filter_condition]
            [variable]
                name=free_regenerate
                greater_than_equal_to=0
            [/variable]
        [/filter_condition]

        {VARIABLE free_regenerate -1}
    [/event]

    [event]
        name=start
        id=rf_start

        [store_unit]
            [filter]
                canrecruit=yes
                type={TYPE}
            [/filter]
            variable=rf_leader
        [/store_unit]

        {VARIABLE faction_is_random[0] 0}
        {VARIABLE faction_is_random[1] 0}
        {VARIABLE faction_is_random[2] 0}
        {VARIABLE faction_is_random[3] 0}
        {VARIABLE faction_is_random[4] 0}
        {VARIABLE faction_is_random[5] 0}
        {VARIABLE faction_is_random[6] 0}
        {VARIABLE faction_is_random[7] 0}
        {VARIABLE faction_is_random[8] 0}
        {VARIABLE faction_is_random[9] 0}

        {FOREACH rf_leader i}
            {VARIABLE faction_is_random[$rf_leader[$i].side] 1}
        {NEXT i}

        {CLEAR_VARIABLE rf_leader}

        [set_menu_item]

            id=description
            description= _ "description"

            [command]
                [message]
                    speaker=narrator
                    caption= _ "Random-factions Era"
                    {MESSAGE}
                    side_for=$side_number
                [/message]
                [allow_undo]
                [/allow_undo]
            [/command]
        [/set_menu_item]

        [set_menu_item]

            id=reorganize
            description= _ "Re-generate Faction"

            [show_if]
                [variable]
                    name=free_regenerate
                    not_equals=-1
                [/variable]
                [variable]
                    name=faction_is_random[$side_number]
                    equals=1
                [/variable]
            [/show_if]

            [command]
                {RF_STORE_RECRUIT}
                {VARIABLE array_length_minus_one $recruit_array_$side_number|.length}
                {VARIABLE_OP array_length_minus_one add -1}
                {VARIABLE_OP array_length_minus_one add $free_regenerate}

                [message]
                    speaker=narrator
                    message= _ "You will be able to recruit $array_length_minus_one| types of units."
                    side_for=$side_number
                    [option]
                        message= _ "Re-generate faction"
                        [command]
                            {VARIABLE free_regenerate 0}
                            {RF_LIST $array_length_minus_one {PICK_RULE} {LEADER}}

                            [message]
                                speaker=narrator
                                message= _ "Your faction is re-generated."
                                side_for=$side_number
                            [/message]
                            {IF_VAR array_length_minus_one equals 1 (
                                [then]
                                    {VARIABLE free_regenerate -1}
                                [/then]
                            )}
                        [/command]
                    [/option]

                    [option]
                        message= _ "Cancel"
                        [command]
                        [/command]
                    [/option]
                [/message]
            [/command]
        [/set_menu_item]
    [/event]
#enddef